# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build output
dist
dist-ssr
build

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# Cache
.cache
.parcel-cache
.eslintcache
.stylelintcache

# Editors
.vscode/*
!.vscode/extensions.json
.vscode-test
.idea

# OS
.DS_Store

# Misc
*.local
*.tgz